.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/vscode-jsonrpc/**
out/**
.DS_Store
*.log
.github/**
.git/**
.eslintrc.js
.prettierrc
.vscode-test.mjs
*.vsix
webpack.config.js
.editorconfig
.husky/**
.coverage/**
.nyc_output/**
test/**
**/*.test.ts
**/*.spec.ts
