.editor-instance {
  height: 100%;
  width: 100%;
}

.editor-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #1a1a18;
  color: #6a6a62;
  font-size: 14px;
}
